@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff8303;
}

body {
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

/* Thumb (the scrolling handle) */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}
